<div class="container">
  <h1>Shell app container</h1>
  <nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/mfe1" routerLinkActive="active" ariaCurrentWhenActive="page">Micro-fronted</a></li>
      <li><a routerLink="/iframe" routerLinkActive="active" ariaCurrentWhenActive="page">iFrame integration</a></li>
    </ul>
  </nav>
  <br>
  <label for="name">User name </label>
  <input id="name" type="text" [formControl]="name">

  <p>Hello {{name.value}}</p>

  <router-outlet />
</div>
